footer {
    background-color: var(--color0);
    color: var(--color3);
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: var(--general-spacing);
    border-radius: 10px;
}

footer > a {
  text-decoration: line-through solid var(--color2) 2px;
  color: var(--color2);
}