footer {
    background-color: var(--color0);
    color: var(--color3);
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: var(--general-spacing);
    border-radius: var(--general-radius);
    box-shadow: var(--general-box-shadow);
}

.footer-link {
  color: var(--color2);
}

#designer-attribution {
  text-decoration: line-through solid var(--color2) 2px;
}