#top-nav {
  background-color: var(--color0);
  background: linear-gradient(to right, var(--color2), var(--color4));
  color: var(--color0);
  display: flex;
  z-index: 99999;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  margin: var(--general-spacing);
  border-radius: var(--general-radius);
  transform-origin: 25% 50%;
  transform: rotate(0.8deg);
  box-shadow: var(--nav-shadow);
}

.unscrolled-nav {
  background-color: var(--color0);
  background: linear-gradient(to right, var(--color2), var(--color4), var(--color0));
  color: var(--color0);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  top: var(--general-spacing);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  margin: var(--general-spacing);
  border-radius: var(--general-radius);
  transition: 0.1s ease;
  transform-origin: 25% 50%;
  transform: rotate(0.8deg);
  box-shadow: var(--nav-shadow);
}

.scrolled-nav {
  background-color: var(--color1);
  background: linear-gradient(to right, var(--color1), var(--color4), var(--color0));
  color: var(--color3);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  margin: 0px;
  border-radius: 0px;
  transition: 0.1s ease;
}

#top-nav-link-span {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

#top-nav-link-span > a {
  color: var(--color3);
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#title {
  border: none;
  font-size: 18px;
}