main {
    padding: 0px var(--general-spacing) 0px var(--general-spacing);
}

.main-content {
    display: grid;
    grid-template-areas:
        "tech-and-workspaces"
        "projects";
    gap: var(--general-spacing);
    justify-content: center;
}

@media (min-width: 820px) {
    .main-content {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "tech-and-workspaces tech-and-workspaces"
            "projects     projects";
    }
}

@media (min-width: 1000px) {
    .main-content {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "tech-and-workspaces projects";
    }
}

.grid-item {
    background-color: var(--color0);
    background: linear-gradient(var(--color0) 40%, var(--color0)50%, var(--color1) 60%, var(--color3));
    color: var(--color3);
    padding: 30px;
    border-radius: var(--general-radius);
    transition: transform .25s, color 1s, background-color 1s;
    box-shadow: var(--general-box-shadow);
  }