:root {
  --color-bg: var(--color3);
  --color-fg: var(--color0);
  --color0: #000000;
  --color1: #557C45;
  --color2: #D2691E;
  --color3: #faebd7;
  --color4: #8B0000;
  --general-radius: 4px;
  --general-spacing: 1rem;
  --general-padding: 30px;
  --general-shadow: -1px -1px 2px 2px rgb(20, 20, 20), 1px 1px 2px 2px black;
  --general-box-shadow: none;
  --general-button-shadow: var(--general-shadow);
  --nav-shadow: var(--general-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color3);
    --color-fg: var(--color0);
    --color0: #000000;
    --color1: #557C45;
    --color2: #D2691E;
    --color3: #faebd7;
    --color4: #8B0000;
    --general-radius: 4px;
    --general-spacing: 1rem;
    --general-padding: 30px;
    --general-shadow: -1px -1px 2px 2px rgb(20, 20, 20), 1px 1px 2px 2px black;
    --general-box-shadow: none;
    --general-button-shadow: var(--general-shadow);
    --nav-shadow: var(--general-shadow);
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.05s;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  font-size: clamp(12px, 1em, 22px);
  font-family: monospace;
  transition: background-color 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color3);
}

/*
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
    */